<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.remomueller.tasktracker.android"
    android:versionCode="3"
    android:versionName="0.1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock">

<!--         <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->

        <activity
            android:label="@string/app_name"
            android:name=".DashboardActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  Login Activity -->
        <activity
            android:label="Task Tracker Login"
            android:name=".LoginActivity"></activity>

        <!--  Register Activity -->
<!--         <activity
            android:label="Register New Account"
            android:name=".RegisterActivity"></activity>
 -->

        <activity android:name=".StickiesIndex"
                  android:label="@string/stickies_index" >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.github.remomueller.tasktracker.android.MainActivity" />
        </activity>


        <activity android:name=".StickiesShow"
                  android:label="@string/stickies_show" >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.github.remomueller.tasktracker.android.stickies.StickiesIndex" />
        </activity>


        <activity android:name=".ProjectsIndex"
                  android:label="@string/projects_index" >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.github.remomueller.tasktracker.android.MainActivity" />
        </activity>

    </application>
</manifest>
